<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <h1>Update User</h1>
    <form th:action="@{/user/update/{id}(id=${user.id})}" method="post">
      
        <label  for="fullname">Full Name:</label>
        <input type="text" id="fullname" th:value="${user.fullname.split('-')[0]}" name="fullname" required />
        
         <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="USER" th:selected="${user.role == 'USER'}">User</option>
            <option value="MANAGER" th:selected="${user.role == 'MANAGER'}">Manager</option>
            <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">Admin</option>
        </select>
        <button type="submit">Update User</button>
    </form>
    
    
</body>
</html>
